<?xml version="1.0"?>
<homework>
    <system name="ITLAB-HOMEWORK">
        <expired>22/07/2019</expired>
        <username>ittalent@topica.edu.vn</username>
        <password>topica123</password>
        <subject>ITLAB-HOMEWORK</subject>
    </system>

    <system name="ITLAB-HOMEWORK1">
        <expired>2019-05-02</expired>
        <username>ittalent@topica.edu.vn</username>
        <password>topica123</password>
        <subject>ITLAB-HOMEWORK</subject>
    </system>

    <system name="ITLAB-HOMEWORK2">
        <expired>2019-09-01</expired>
        <username>ittalent@topica.edu.vn</username>
        <password>topica123</password>
        <subject>ITLAB-HOMEWORK</subject>
    </system>
</homework>

