<?xml version="1.0"?>
<system>
    <homework name="ITLAB-HOMEWORK">
        <subject>ITLAB-HOMEWORK</subject>
        <expired>22/07/2019</expired>
        <username>ittalent@topica.edu.vn</username>
        <password>topica123</password>
    </homework>

    <homework name="ITLAB-HOMEWORK1">
        <subject>ITLAB-HOMEWORK1</subject>
        <expired>22/07/2019</expired>
        <username>ittalent@topica.edu.vn</username>
        <password>topica123</password>
    </homework>

    <homework name="ITLAB-HOMEWORK2">
        <subject>ITLAB-HOMEWORK</subject>
        <expired>22/07/2019</expired>
        <username>ittalent@topica.edu.vn</username>
        <password>topica123</password>
    </homework>
</system>

